In [1]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("Spark SQL Example").getOrCreate()

WARNING: Using incubator modules: jdk.incubator.vector
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
26/02/19 17:52:57 WARN Utils: Your hostname, Pulastyas-Mac-mini.local, resolves to a loopback address: 127.0.0.1; using 10.0.0.133 instead (on interface en1)
26/02/19 17:52:57 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Using Spark's default log4j profile: org/apache/spark/log4j2-defaults.properties
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
26/02/19 17:52:59 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

In [3]:
data = ["Pulastya Narain Pandey",
        "Arti Kumari Pandey",
        "Aprajita Narain Pandey",
        "Augustya Narayan Pandey",
        "Vashishth Narayan Pandey",
        "Tarkeshwar Pandey",
        "Kameshwar Pandey",
        "Nakuleshwar Pandey",
        "Akhileshwar Pandey",
        "Bishwamitra             Pandey",
        "      Rishabh.     Pandey"]

rdd = spark.sparkContext.parallelize(data)
rdd.collect()

['Pulastya Narain Pandey',
 'Arti Kumari Pandey',
 'Aprajita Narain Pandey',
 'Augustya Narayan Pandey',
 'Vashishth Narayan Pandey',
 'Tarkeshwar Pandey',
 'Kameshwar Pandey',
 'Nakuleshwar Pandey',
 'Akhileshwar Pandey',
 'Bishwamitra             Pandey',
 '      Rishabh.     Pandey']

In [8]:
total_words = rdd.flatMap(lambda x: x.split()).count()

In [9]:
print(f"Total number of words in the RDD: {total_words}")

Total number of words in the RDD: 27